body {
  margin: 0em;
  padding: 0em;
}

#header {
  font-family: 'Play', sans-serif;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

#header h1 {
  font-family: 'Poller One', cursive;
}

#navbar {
  display: inline;
  list-style-type: none;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  padding: 0em 1em 0em 1em;
  color: white;
  text-decoration: none;
}

#navbar li a:hover {
  color:#dddddd
}